.checkout_product{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product_info{
    padding-left: 20px;
}
.product_info > button{
    background: black;
    border-radius: 2px;
    padding: 10px;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    color: white;
    &:hover{
        background-color: white;
        color: black;
    }
}
.checkout_img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.product_rating{
    display: flex;
}
.product_title{
    font-size: 17px;
    font-weight: 800;
}
