.product-detail{
    
    padding: 50px;
    display: flex;
    justify-content:center;
}
.img-container{
    flex: 1;
}
.img{
  width: 550px;
  height: 550px;
  object-fit: cover;
}
.info{
  flex: 1;
  padding: 50px;
}
.title{
    font-weight: 600;
    margin-bottom: 50px;
}
.description{
    margin: 20px 0px;
}
.prodcut-price{
    
    font-weight: 100;
    font-size: 40px; 
}
.quantity-controls{
    display: flex;
    align-items: center;
}
.sub, .add{
    cursor: pointer;
    border: 0.5px solid black;
    margin-right: 15px;
}
.quntity{
    margin-right: 15px;
}
.button-container{
    display: flex;
    margin-top: 100px;
}
.button-container button{
    cursor: pointer;
    background-color: black;
    color: white;
    width: 160px;
    font-size: 15px;
    height: 50px;
    margin-right: 50px;
    &:hover{
        background-color: white;
        color: black;
    }
}

@media screen and (max-width: 945px) {
    .product-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img{
        width: 650px;
        height: 650px;
        object-fit: cover;
    }
}